@charset "utf-8";
@import "../icon/iconfont.css";
/*
* 通用类
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
html,
body {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  color: #333333;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #dd1827;
}
a:focus {
  outline: none;
}
em,
i {
  font-style: normal;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
/**
 * 通用类
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
img {
  display: block;
  vertical-align: bottom;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
input,button{
  border: none;
}
.font14{
  font-size: 14px;
}
.font16{
  font-size: 16px;
}
.font18{
  font-size: 18px;
}
.font20{
  font-size: 20px;
}
.font40{
  font-size: 40px;
}
.color_393a{
  color: #393a3a;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  zoom: 1;
  height: 0;
}
.t-red {
  color: #ee3434;
}
.t-blue {
  color: #00a0e9;
}
.b-yellow {
  background: #FC7546 none repeat scroll 0 0;
  color: white!important;
}
.page1200 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.show{
  display: block;
}
.hide {
  display: none;
}
.btn {
  display: inline-block;
}
.btn-big {
  padding: 10px 50px;
  font-size: 36px;
  border-radius: 24px;
}
.btn-mid {
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 6px;
}
.btn-yellow {
  color: #ffffff;
  background-color: #df650f;
  transition: background-color .3s ease;
  &:hover {
    color: #ffffff;
    background-color: #df460f;
  }
}
.btn-red {
  color: #ffffff;
  background-color: #ee3434;
  transition: background-color .3s ease;
  &:hover {
    color: #ffffff!important;
    background-color: #b41521;
    transition: background-color .3s ease;
  }
}
.btn-sub {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  background: red;
  color: white;
  cursor: pointer;
}

/**
 * 白条信息展示
 */
.bg-verify {
  padding: 90px 64px;
  width: 934px;
  height: 681px;
  background-color: #fef4ea;
  .v-msg {
    font-size: 20px;
  }
  .reason {
    margin-top: 20px;
    padding: 22px 0;
    width: 400px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    word-break: break-all;
    color: #333333;
  }
  .link-group {
    padding-top: 32px;
    a {
      margin-right: 46px;
      font-size: 20px;
      color: #ee3434;
      text-decoration: underline;
    }
  }
}

